.tooltip_container{
    // padding: 10px;
    .tool_row{
        display: flex;
        text-align: center;
       justify-content: space-between;
        .tool_col{
            padding: 10px;
            .price{
                font-size: 14px;
                
            }
            .almost{
                color: orange;
            }
            .sold{
                color:#ccc;
            }
            .budget{
                font-size: 9px;
                text-transform: uppercase;
            }
            span{
                display: block;
            }
        }
    }
}
