$primary-color:  #f5f5f5;
$secondary-color : lighten($primary-color, 20%);

.slider-image{
    img{
        width: 100%;
    }
    text-align: center;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 90%;
    padding-bottom: 10px;
    background-color: $secondary-color;
    
}
.slider-sec img{
    width: 100%;
}
.slick-track{
    display: flex !important;
    justify-content: space-between !important;

    .slick-slide{
        width: 100% !important;
    }
}

.slick-dots{
    bottom: 10% !important;

     li button:before{
       font-size: 10px;
       color: #f5f5f5 !important;
    }
}

.movie-section{
     background-color: #f5f5f5;
  background-color: $primary-color;

    .movies_container{
        width: 80%;
        margin: auto;
         .movies-row{
            .title{
             display: flex;
             justify-content: space-between;
             padding: 0 10px;
             align-items: center;
              h3{
                color: rgb(51, 51, 51);
                font-size: 26px;
                font-weight: 700
              }
            }
           padding: 40px 0;
         .movies{
            padding: 10px;
            // margin:10px;
            // gap: 8px 32px;
         }
         }
         .poster{
            img{
                max-width: 100%;
            }
         }
         .movies-card{
             cursor: pointer;
         }    
     
     }
}



.react-multiple-carousel__arrow--right {
    right: 0 !important;
}
.react-multiple-carousel__arrow--left {
    left: 0 !important;
}
.react-multiple-carousel__arrow{
    background-color: rgb(153,153,153) !important;
}

.le_img{
    .img_card{
        padding: 12px;
        cursor: pointer;
        img{
            border-radius: 10px !important;
            max-width: 100%;
            object-fit: cover;
        }
    }
    .img_card:first-child{
        padding-left: 0;
    }
}
.live_event{
    padding: 50px 0;
    .le_title{
        text-align: left;
        text-transform: capitalize;
    }
}
.card_img {
    margin:10px; 
}

.card_img img{
    max-width: 100%;
    border-radius: 10px;
}
.card_content{
    margin:10px;
    .movie_name{
        font-size: 18px;
        font-weight: 600;
        text-align: left;
        color: rgb(34, 34, 34); 
        font-family: Roboto;
        text-overflow: ellipsis;
        text-transform: capitalize;
        margin: 4px 0;

    }
    .description{
        text-align: left;
        text-transform: capitalize;
        color: rgb(102, 102, 102);
        font-size: 16px;
    }
}

